<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MascotaFelizPresentacion.app.pagina</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                 
                <div class="logo-inicio">
                   
            <a href="/Index"><img src="/img/logo.png" alt="" style="width: 110px"></a>       
            
            
                </div>
            </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" >
                    <ul class="navbar-nav flex-grow-1" style="font-size: x-large;" >
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Empresa/Empresa">Empresa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Medico/Medicos">Medicos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Cliente/Cliente">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Cita/Cita">Cita</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Contacto">Contacto</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
             <a><img src="/img/img-menu.png" alt="" style="width: 80px"></a>  
        </nav>
      
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br>
    <br>
    <br>
    

    <footer class="border-top footer text-muted">
        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <img src="~/img/logo.png" alt="">
                </div>
                <div class="terms">
                    <p> Grupo de programacion de software 
                        Administrador de la configuración: Hans Vicent Thor Ocampo 
                        Diseñador de interfaz de usuario: Maria Fernanda Vergara Ramos 
                        Tester: Lady Diana Roncallo.
                    </p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Soluciones</h2>
                <a href="https://www.google.com">Desarrollo</a>
                <a href="#">Iniciar sesion</a>
                <a href="#">Registarse</a>
                <a href="#">Empresa</a>
            </div>

            <div class="box__footer">
                <h2>Compañia</h2>
                <a href="#">Acerca de</a>
                <a href="#">Trabajos</a>
                <a href="#">Procesos</a>
                <a href="#">Servicios</a>              
            </div>

            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="https://es-la.facebook.com/" target="_blank"> <i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="https://twitter.com/?lang=es" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i> Linkedin</a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square"></i> Instagram</a>
            </div>

        </div>

        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2021 <b>pet</b></p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
