@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MascotaFelizPresentacion.app.pagina</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>

  

<div class="text-center">
    <h1 class="display-4">Cuidado Profesional Para Tu Mascota</h1>
   
</div>

<br>
<br>


<div class="content-all">
     	<div class="content-carrousel">
     	<figure><img src="~/img/p1.jpg.png" ></figure>
     	<figure><img src="~/img/p2.jpg.png" ></figure>
     	<figure><img src="~/img/p3.jpg.png" ></figure>
     	<figure><img src="~/img/p4.jpg.png" ></figure>
     	<figure><img src="~/img/p5.jpg.png" ></figure>
     	<figure><img src="~/img/p6.jpg.png" ></figure>
     	<figure><img src="~/img/p7.jpeg.png" ></figure>
     	<figure><img src="~/img/p8.png" ></figure>
     	<figure><img src="~/img/p9.jpg.png" ></figure>
     	<figure><img src="~/img/p5.jpg.png" ></figure>
     	</div>


         
</div>

         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         
        <div class="row">
                <div class="col-md-12 section-container-spacer">
                    <div class="text-center">
                        <h2>Servicio Veterinario</h2>
                        <p> cuenta con un excelente equipo de profesionales de médicos veterinarios altamente calificados 
                            en el sector de la medicina para animales, capacitados de ofrecer una calidad de vida a sus mascotas 
                            llegando a los diagnósticos que permitirán enfocar los tratamientos de manera eficiente y
                             oportuna haciendo seguimiento a la historia clínica para recomendar los procesos adecuados. </p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div align="center"><img id="img-box" src="img/comen.png" alt=""></div>
                    <div class="fa-container">
                        <i class="fa fa-comment-o fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="text-center">
                        <h3>Contactenos</h3>
                    </div>
                    <div>
                        <p> contamos con un equipo de trabajo con trayectoria en el cuidando de tu mascota, 
                            es muy importante para nosotros hacer un servicio integral a nuestros pacientes, 
                            velando por su salud enfocándonos en el bienestar y prevención de enfermedades 
                            de las mascotas esta es la mejor forma de brindar tranquilidad a sus familias.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div align="center"><img id="img-box" src="img/corazon.png" alt=""></div>
                    <div class="fa-container">
                        <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="text-center">
                        <h3>CLÍNICA 24 HORAS</h3>
                    </div>
                    <div>
                        <p>contamos con un excelente equipo de médicos veterinarios las 24 horas para prestar un 
                            servicio oportuno atendiendo a los requerimientos de tu mascota. Estamos preparados y capacitados 
                            para diagnosticar de manera eficiente a tu mascota y tratar la urgencia veterinaria.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div align="center"><img id="img-box" src="img/alarma.png" alt=""></div>
                    <div class="fa-container">
                        <i class="fa fa-bell-o fa-3x" aria-hidden="true"></i>
                    </div>
                    <div class="text-center">
                        <h3>CIRUGÍAS DE TEJIDOS BLANDOS Y ORTOPEDIA</h3>
                    </div>
                    <div>
                        <p> anestesia inhalada el cual nos permite realizar diferentes procedimientos en el mismo lugar, 
                            nuestros cirujanos cuentan con amplia experiencia
                             y técnicas quirúrgicas aptas según el procedimiento a realizar con nuestros pacientes. 
                        </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
 
    
    
         <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    <div class="wrapper coloured">
    <section id="testimonials" class="hoc container clear"> 
   
      <div class="sectiontitle" style="text-align: center;">
        <p class="nospace font-xs">Excelente equipo de profesionales a su servicio</p> 
        <h6 class="heading">Nuestro equipo está integrado por profesionales idóneos 
            y entusiastas que desempeñan sus 
            tareas con talento, eficiencia, seriedad y esmero.</h6>
      </div>
        <article class="one_half first">
            <p><img src="img/a4.png" alt=""  width="auto" height="100px"  border-radius="100px"></p>
        <blockquote>MVZ U. Tolima
            -Magister en cirugía y medicina interna U. La Salle
                -Diplomado en ortopedia centro de estudios avanzados México
                -Estancia en ortopedia y neurología Universidad de Washington State</blockquote>
        <h6 class="heading">DR. CARLOS A. ARDILA PARRA</h6>
        <em>especialista</em></article>
        <article class="one_half">
            <p><img src="img/a3.png" alt=""  width="auto" height="100px" border-radius="100px" ></p>
        <blockquote>MVZ U. Tolima
        -Posgrado en anestesia y analgesia Universidad católica de Salta
        -Diplomado en Clínica de pequeños animales
        -Diplomado en ortopedia centro de estudios avanzados Canada</blockquote>
        <h6 class="heading">DRA. SARA ISABEL VALENCIA</h6>
        <em>especialista</em></article>
    
    </section>
    </div>

   
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    
    

</body>
</html>

