/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  
  
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.logo-inicio{
  background-color: rgb(255, 255, 255);
  width: 80px;
  border-radius: 2px;
  background-repeat: no-repeat;
  margin: 6px;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: rgb(35, 182, 219);
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-item{
  font-size: smaller;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


.div.container{
  background: #0366d6;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
}

.header{
  background: rgb(66, 90, 109);
}

.div.container{
  background: rgb(10, 55, 92);
}

.navbar-nav {
  position: absolute;
}


footer{
  background: rgb(10, 55, 92);
  width: 100%;
  padding: 50px 0px;
  
}

.container__footer{
 
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer{
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .logo img{
  width: 180px;
}

.box__footer .terms{
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}

.box__footer h2{
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 700;
}

.box__footer a{
  margin-top: 10px;
  color: #fffdfd;
  font-weight: 600;
}

.box__footer a:hover{
  opacity: 0.8;
}

.box__footer a .fab{
  font-size: 20px;
}

.box__copyright{
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p{
  margin-top: 20px;
  color: #ffffff;
}

.box__copyright hr{
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}


